{% extends 'layout.html.twig' %}

{% block title %}Ajouter un service{% endblock %}

{% block content %}

    <h1>Formulaire d'ajout d'un service</h1>
    <br>
    <div class="d-flex text-end ms-2">
        {{ form(formProduit) }}
    </div>
    
{% endblock %}