{% extends 'layout.html.twig' %}

{% block title %}Ajouter un Auteur d'articles{% endblock %}

{% block content %}

    <h1>Formulaire d'ajout d'un Auteur d'articles :</h1>
    <br>
    <div class="d-flex text-end ms-2">
        {{ form(formAuteur)}}
    </div>

{% endblock %}
