{% extends 'layout.html.twig' %}

{% block title %}Ajouter une catérogie{% endblock %}

{% block content %}

    <h1>Formulaire d'ajout d'un service (prestation) : </h1>
    <br>
    <div class="d-flex text-end ms-2">
        {{ form(formCategorie)}}
    </div>

{% endblock %}
